@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
  }
  

  .catchphrase  {
    font-size: 35px;
    font-weight: bold;
  }
  
  header {
    background-image: url('../img/moose.jpg');
    background-size: cover;
    background-position: center;
    object-fit: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  @media screen and (max-width: 480px){
    header {
      height: 600px;
      width: 100%;
  };
  }
  @media screen and (max-width: 480px) {
    h1{
      font-size: 31px;
    };
  }
  body {
    background-color: black;
    width: 100%;
    height:100%;
  }
  .title {
    padding: 5px;
    line-height: 2.3;
  }
  @media screen and (max-width: 480px) {
    h2{
    font-size: 20px;
    margin: 8px;
    };
  }
  @media screen and (max-width: 480px) {
    p{
      padding: 15px;
      margin: 7px;
  
    };
  }
  section {
    border: 1px solid rgb(252, 248, 248);
    width: 95%;
    margin: 90px auto;
  }

 

 #natureIntroduction {
    background-color: black;
    color: aliceblue;
    font-size: 16px;
    width: 100%;
    height: 480px;
    line-height: 2.5;
    width: 95%;
  }
  @media screen and (max-width: 480px) {
    #natureIntroduction{
      height: 1061px;
    };
  }
  #natureIntroduction .title h2 {
    color: aliceblue;
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
    padding: 30px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.8;
  }
  #natureIntroduction .p {
    font-size: 15px;
    line-height: 1.8;
  }
  
  .catchphrase {
    text-align: center;
    color: white;
  }
  .first, .second, .third > p{
    line-height: 2.3;
  }
  .first {
    background-color: #4f4c4c;
    color: #f1ebeb;
  }
  @media screen and (max-width: 480px) {
   .first{
    width: 100%;
    height: auto;
    padding: 15px;
    margin: 7px;
    };
  }

  .pic {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pic>img {
    width: 900px;
    height: 500px;
  }
   h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    font-weight: bold;
    font-size: 20px;
    line-height: 2.3;
  }
  .second {
    background-color: #f1ebeb;
  }
  .pic-second {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pic-second>img {
    width: 900px;
    height: 500px;
  }

  .third {
    background-color: #4f4c4c;
    color: #f1ebeb;
    line-height: 2.3;
  }
  .third-pic {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media screen and (max-width: 480px) {
    .pic,.pic-second, .third-pic{
    flex-direction: column
      };
    }

   @media(min-width:801px){
    .pic,.pic-second, .third-pic{
    display:flex;
    justify-content: center;
    align-items: center;
    };
  }
 
 
  .third-pic>img {
    width: 900px;
    height: 500px;
  }
  /* footer */
  footer {
    text-align: center;
    padding: 20px;
    background-color: black;
    color: white;
  }
  
